@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Asap', Arial, Helvetica, sans-serif !important;
  /* Permite rolagem normal */
  overflow: auto;
}

#root {
  min-height: 100vh;
  width: 100%;
  display: block;
  /* Removido align-items/justify-content/height para não centralizar tudo verticalmente */
  background: none;
}

* {
  font-family: 'Asap', Arial, Helvetica, sans-serif !important;
}