@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #006916;
  min-height: 100vh;
  width: 100%;
}

html {
  background-color: #006916;
}
